<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Automation/AutomationTaskBS">
        <classes>
            <class name="testrunner.PlaceOrderPageTest"></class>
            <class name="testrunner.AddtoCartTest"></class>
            <class name="testrunner.HomePageTest"></class>
        </classes>
    </test>
</suite>